@ViewData["PageTitle"]
<ul>
    <li>Product ID: @ViewBag.ProductID</li>
    <li>Product Name: @ViewBag.ProductName</li>
    <li>Product Price: @ViewBag.ProductPrice</li>
    <li>Product Description: @ViewBag.ProductDescription</li>
</ul>