<html>
    <head>
        <title>@ViewData["PageTitle"]</title>   
    </head>
    <body>
        <h1>@ViewData["PageTitle"]</h1>
        <ul>
            @foreach (var product in ViewBag.Products)
            {
                <li>@product</li>
                /*
                    iPhone
                    MacBook
                    iPad
                */
            }
        </ul>
    </body>
</html>